p{
    color: rgb(48, 19, 165) ;
    text-align: justify;
}

body{
    font-family: Calibri;
}

#tituloprincipal{
    color: rgb(95, 2, 62);
    text-align: center;
}

.azul{
    color: rgb(27, 99, 163);
}

.lilas{
    color: rgb(128, 80, 173);
}

.vermelho{
    color: rgba(190, 17, 17, 0.737);
}