p{
    color: rgb(139, 21, 45) ;
    text-align: justify;
}

body{
    font-family: Calibri;
}

#tituloprincipal{ /* o id é unico*/
    color: rgb(95, 2, 62);
    text-align: center;
}

/*CLASSE SEMPRE COMEÇA COM PONTO FINAL NO CSS*/
.azul{
    color: rgb(7, 68, 121);
}
