.rosa{
    color: #400D01;
    text-align: justify;
}

body{
    font-family: Calibri;
}

#tituloprincipal{ /* o id é unico*/
    color: rgb(95, 2, 62);
    text-align: center;
}

.subtitulo{
    color: #D92B04;
}